@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #BB3E00;
  --secondary-color: #ff552d;
  --background-color-1: #222831;
  --background-color-2: #393E46;
  --background-color-3: #273F4F;
  --section-color-1: #222831;
  --section-color-2: #393E46;
  --section-color-3: #273F4F;
  --extra-light: #dfdfdf;
  --white: #ffffff;
  --max-width: 1200px;
  --font-family: "Poppins", sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-size-xs: 0.9rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.2rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2.5rem;
  --font-size-xxl: 3rem;
  --line-height-xs: 1.75rem;
  --line-height-sm: 3.25rem;
  --line-height-md: 4rem;
  --spacing-xxs: 0.5rem;
  --spacing-xs: 1rem;
  --spacing-sm: 1.5rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;
  --spacing-xl: 5rem;
  --border-radius-xxs: 5px;
  --border-radius-xs: 1rem;
  --border-radius-circle: 100%;
  --shadow-light: 0 0 30px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0 0 50px rgba(0, 0, 0, 0.5);
  --transition-fast: 0.3s;
  --transition-slow: 0.5s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--spacing-xl) var(--spacing-xs);
}

.section__header {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  color: var(--white);
  line-height: var(--line-height-sm);
  text-align: center;
}

.section__description {
  font-size: var(--font-size-sm);
  color: var(--extra-light);
  line-height: var(--line-height-xs);
  text-align: center;
}

.btn {
  padding: var(--spacing-xxs) var(--spacing-sm);
  outline: none;
  border: none;
  color: var(--white);
  font-size: var(--font-size-sm);
  font-family: var(--font-family);
  white-space: nowrap;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-xxs);
  transition: var(--transition-fast);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--secondary-color);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: var(--transition-fast);
}

ul {
  list-style: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}

header {
  background-color: var(--background-color-1);
  overflow: hidden;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: var(--spacing-xs);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav__logo a img {
  max-width: 150px;
}

.nav__menu__btn {
  font-size: var(--font-size-lg);
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  background-color: var(--primary-color);
  transition: transform var(--transition-slow);
  z-index: -1;
}

.nav__links.open {
  transform: translateY(100%);
}

.nav__links a {
  font-weight: var(--font-weight-medium);
  color: var(--white);
  white-space: nowrap;
}

.nav__links .btn {
  padding: 0;
  font-weight: var(--font-weight-medium);
  background-color: var(--primary-color);
}

.header__container {
  display: grid;
  gap: var(--spacing-md);
}

.header__image img {
  max-width: 600px;
  margin-inline: auto;
}

.header__content h1 {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  color: var(--white);
  line-height: var(--line-height-md);
  text-align: center;
}

.header__content .section__description {
  margin-bottom: var(--spacing-lg);
}

.header__btn {
  margin-bottom: var(--spacing-lg);
  text-align: center;
}

.header__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

.header__stats h4 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  color: var(--white);
}

.header__stats p {
  font-size: var(--font-size-xs);
  color: var(--extra-light);
}

.about {
  background-color: var(--background-color-1);
  overflow: hidden;
}

.about__container {
  display: grid;
  gap: var(--spacing-md);
}

.about__image img {
  max-width: 500px;
  margin-inline: auto;
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-medium);
}

.about__content :is(.section__header, .section__description) {
  margin-bottom: var(--spacing-xs);
}

.about__btn {
  margin-top: var(--spacing-md);
  text-align: center;
}

.program {
  background-color: var(--background-color-2);
}

.program__header {
  display: grid;
  gap: var(--spacing-xs) var(--spacing-lg);
}

.program__grid {
  margin-top: var(--spacing-xl);
  display: grid;
  gap: var(--spacing-xs);
}

.program__card {
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-xs);
  background-color: var(--background-color-3);
  box-shadow: var(--shadow-light);
  transition: var(--transition-fast);
}

.program__card:hover {
  background-color: var(--secondary-color);
}

.program__card img {
  max-width: 75px;
  margin-bottom: var(--spacing-xs);
}

.program__card h4 {
  margin-bottom: var(--spacing-xxs);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--white);
}

.program__card p {
  margin-bottom: var(--spacing-xs);
  color: var(--extra-light);
  line-height: var(--line-height-xs);
}

.program__card a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--extra-light);
}

.service {
  background-color: var(--background-color-1);
  overflow: hidden;
}

.service__container {
  display: grid;
  gap: var(--spacing-md);
  padding-block: 0;
}

.service__image img {
  max-width: 400px;
  margin-inline: auto;
}

.service__content {
  padding-block: var(--spacing-xl) 0;
}

.service__content .section__header {
  margin-bottom: var(--spacing-lg);
}

.service__content :is(.section__header, .section__description) {
  text-align: left;
}

.service__list {
  display: grid;
  gap: var(--spacing-xs);
}

.service__list h4 {
  margin-bottom: var(--spacing-xxs);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--white);
}

.service__list span {
  margin-right: 10px;
  color: var(--secondary-color);
}

.service__btn {
  margin-top: var(--spacing-md);
}

.testimonial {
  background-color: var(--background-color-2);
}

.testimonial__container {
  display: grid;
  gap: var(--spacing-md);
}

.testimonial__content .section__header {
  margin-bottom: var(--spacing-xs);
}

.testimonial__swiper {
  overflow: hidden;
}

.swiper {
  width: 100%;
}

.testimonial__card {
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-xs);
  background-color: var(--background-color-3);
}

.user__details {
  margin-bottom: var(--spacing-xs);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.user__details img {
  max-width: 60px;
  border-radius: var(--border-radius-circle);
}

.user__details h4 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  color: var(--white);
}

.user__details h5 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  color: var(--extra-light);
}

.user__ratings {
  margin-bottom: var(--spacing-xs);
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
  font-size: var(--font-size-md);
  color: goldenrod;
}

.testimonial__card .section__description {
  text-align: left;
}

footer {
  background-color: var(--background-color-1);
}

.footer__container {
  display: grid;
  gap: var(--spacing-lg) var(--spacing-xs);
}

.footer__col h4 {
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  color: var(--white);
}

.footer__links {
  display: grid;
  gap: var(--spacing-xs);
}

.footer__links a {
  color: var(--extra-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__links a span {
  margin-right: 10px;
  font-size: var(--font-size-md);
  color: var(--primary-color);
}

.footer__col form {
  margin-bottom: var(--spacing-xs);
  width: 100%;
  max-width: 350px;
  display: flex;
  align-items: center;
  background-color: var(--white);
  border-radius: 5rem;
}

.footer__col input {
  width: 100%;
  padding-inline: var(--spacing-xs);
  font-size: var(--font-size-sm);
  color: var(--background-color-1);
  outline: none;
  border: none;
  background-color: transparent;
}

.footer__col .btn {
  margin: var(--spacing-xxs);
  padding: var(--spacing-xxs) var(--spacing-sm);
  font-size: var(--font-size-lg);
  border-radius: 5rem;
}

.footer__col p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xs);
  color: var(--extra-light);
}

.footer__bar {
  padding-block: var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-md);
  border-top: 1px solid var(--extra-light);
}

.footer__logo img {
  max-width: 150px;
}

.footer__bar p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-xs);
  color: var(--extra-light);
  text-align: center;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

.footer__socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem; /* Фіксована ширина для ідеального кола */
  height: 2rem; /* Фіксована висота для ідеального кола */
  padding: var(--spacing-xxs);
  color: var(--background-color-1);
  font-size: 1.125rem;
  background-color: var(--extra-light);
  border-radius: var(--border-radius-circle);
  line-height: 1; /* Запобігаємо впливу line-height на форму */
}

.footer__socials a:hover {
  color: var(--white);
  background-color: var(--primary-color);
}

@media (width > 540px) {
  .program__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding: var(--spacing-md) var(--spacing-xs);
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-xs);
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a img {
    max-width: 175px;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    width: fit-content;
    flex-direction: row;
    background-color: transparent;
    transform: none !important;
  }

  .nav__links a:hover {
    color: var(--primary-color);
  }

  .nav__links .btn {
    padding: var(--spacing-xxs) var(--spacing-sm);
  }

  .header__container {
    padding-block: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__image img {
    border-radius: var(--border-radius-xs);
  }

  .header__content {
    padding-block: var(--spacing-xl);
  }

  .header__content :is(h1, .section__description, .header__btn) {
    text-align: left;
  }

  .header__stats {
    justify-content: flex-start;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__content :is(.section__header, .section__description, .about__btn) {
    text-align: left;
  }

  .program__header {
    grid-template-columns: repeat(2, 1fr);
  }

  .program__header :is(.section__header, .section__description) {
    text-align: left;
  }

  .program__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .service__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
  }

  .service__content {
    padding-block: var(--spacing-xl);
  }

  .testimonial__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial__content :is(.section__header, .section__description) {
    text-align: left;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__bar {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo,
  .footer__socials {
    flex: 1;
  }

  .footer__socials {
    justify-content: flex-end;
  }
}

@media (width > 1024px) {
  .program__grid {
    gap: var(--spacing-sm);
  }

  .program__card {
    padding: var(--spacing-md);
  }

  .testimonial__card {
    padding: var(--spacing-md);
  }
}